.App {
    text-align: center;
}

.App-header {
    background-color: #590cbd;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    top: 0;
    height: 10vh;
}

footer {
    background-color: #313033;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    bottom: 0;
    height: 5vh;
}

.footerAddress {
    position: absolute;
    z-index: -1;
    color: #1f1e20;
    font-size: calc(4vw);
    pointer-events: none;
}

main {
    background-color: #1f1e20;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

article {
    height: 100%;
    width: 100%;
    height: 85vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.faceOff {
    width: 100%;
    background-color: green;
    height: 4em;
    display: flex;
}

.blue {
    background-color: rgb(30, 145, 253);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.red {
    background-color: rgb(231, 28, 28);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.blue * {
    max-width: 1px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

.red * {
    max-width: 1px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.blueText {
    position: absolute;
    margin-left: 4vw;
}

.redText {
    position: absolute;
    margin-right: 4vw;
}

.error {
    background-color: #b31414;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    bottom: 5vh;
}

.btn {
    font-size: calc(10px + 1.5vmin);
    background-color: #590cbd;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3vmin;
    transition: 100ms;
}

.btn:hover {
    background-color: #752ad8;
}

.btn:active {
    background-color: white;
    color: #590cbd;
}

.btn-connect {
    background-color: #1f1e20;
}

.btn-connect:hover {
    background-color: #3d3c3f;
}

.btn-connect:active {
    background-color: white;
    color: #1f1e20;
}

#voting-panel {
    background-color: #313033 !important;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.705) !important;
}
